<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <a routerLink="/byname">
          <button type="button" class="btn btn-info nav-bar-item">Name</button>
        </a>
        <a routerLink="/bytext">
          <button type="button" class="btn btn-info nav-bar-item">Text</button>
        </a>
      </div>
      <a class="pull-right"
         href="https://bitbucket.org/patoloco/ng-card-searcher/src/master/">
        View source at BitBucket
      </a>
    </div>
  </div>
  <app-warning-message></app-warning-message>
  <router-outlet></router-outlet>
</div>
