<div class="well" *ngIf="cardOne">
  <div class="row">
    <div class="col-xs-12">
      <h3>{{cardOne.name}} Info</h3>
    </div>
  </div>
</div>
<div class="well">
  <div class="row">
    <div class="col-xs-4">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a class="a-nav-bar-item" routerLink="tab-types">Types</a></li>
        <li routerLinkActive="active"><a class="a-nav-bar-item" routerLink="tab-mana-colors">Mana/Colors</a></li>
        <li routerLinkActive="active"><a class="a-nav-bar-item" routerLink="tab-text">Text</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="well">
  <router-outlet></router-outlet>
</div>
