/* You can add global styles to this file, and also import other style files */
.active {
  font-weight: bold;
  background-color: white;
}

btn.active {
  background: white;
}

a.a-nav-bar-item:hover {
  background-color: white;
}

a.a-nav-bar-item:focus {
  background-color: white;
}

.nav-bar-item:hover {
  background-color: #F6D160;
}

.nav-bar-item:focus {
  background-color: #F6D160;
}

/* Bootstrap Classes */
.well {
  background-color: #5098C4;
}

/* HTML tags */

body {
  background-color: black;
}

h1, h2, h3 {
  color: #032E56;
  text-align: center;
}

h4 {
  color: white;
}

/* Buttons */
.btn-default {
  background: white;
}

.btn-primary,
.btn-success {
  background: #50B0E3;
}

.btn-info,
.btn-secondary {
  background: #F6D160;
  color: black;
}

.btn-warning,
.btn-danger {
  background: #E7536B;
}

/* Card Details Classes */
.details {
  padding: 10px;
  font-size: 14px;
}

.details-single {
  text-align: left;
  color: white;
}

.details-text {
  text-align: left;
  color: white;
}

.card-info {
  color: white;
}
