<div class="well">
    <h3>Search MTG cards by text:</h3>
    <form #cardForm="ngForm">
        <div class="form-group">
        <input
            type="text" class="form-control"
            id="name" required [(ngModel)]="model.text"
            name="name" autocomplete="off"
            (keyup)="searchTerm$.next($event.target.value)">
        </div>

      <ul *ngIf="results !== []">
        <li *ngFor="let result of results | paginate : { itemsPerPage: 5, currentPage: p }">
          <a [routerLink]="['/byname/', result.name]" class="result" (click)="getCard(result.name)">
            {{result.name}} : {{result.text}}
          </a>
        </li>
      </ul>
    </form>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <button type="button" class="btn btn-info" (click)="toCSV()">Export Cards as CSV</button>
  </div>
